input[type="text"] {
  border: 1px solid #ccc;
  outline: none;
  border-radius: $base-border-radius;
  padding: $base-spacing;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;

  &:focus {
    border-color: lighten($primary, 30%);
    outline: 3px solid lighten($primary, 40%);
  }
}
